# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [205]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [62]:
# How many neighborhood groups are available and which shows up the most?

print(air_bnb['neighbourhood_group'].value_counts())
print('-'*40)
print(""" ANSWER: there are 5 Boroughs (aka 'neighborhood_groups') in NYC.
        Manhattan has the most AirBNB listings.""")

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64
----------------------------------------
 ANSWER: there are 5 Boroughs (aka 'neighborhood_groups') in NYC.
        Manhattan has the most AirBNB listings.

In [122]:
# Are private rooms the most popular in manhattan?

print(air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan'].groupby('room_type').count()['id'])
print('-'*40)
print(" ANSWER: No. 'Entire home/apt' are the most popular rental 'room_type' in Manhattan")

room_type
Entire home/apt    13199
Private room        7982
Shared room          480
Name: id, dtype: int64
----------------------------------------
 ANSWER: No. 'Entire home/apt' are the most popular rental 'room_type' in Manhattan

In [199]:
# Which hosts are the busiest and based on their reviews?
print(" ANSWER: Below are the top 10 busiest hosts based on their 'reviews_per_month' value")
air_bnb[['host_id','host_name','reviews_per_month']].sort_values('reviews_per_month', ascending=False).drop_duplicates('host_id').head(10).reset_index(drop=True)

 ANSWER: Below are the top 10 busiest hosts based on their 'reviews_per_month' value

     host_id host_name  reviews_per_month
0  244361589   Row NYC              58.50
1  228415932    Louann              20.94
2  156684502   Nalicia              19.75
3   26432133  Danielle              16.22
4  217379941     Brent              15.78
5  232251881  Lakshmee              15.32
6   47621202      Dona              14.58
7  259630588     Alina              14.00
8  266992480       Sam              14.00
9   55125246    Yvonne              13.48

In [164]:
#Which neighorhood group has the highest average price?
print("ANSWER: No surprises here, 'Mo-money Manhattan' is the riztiest place to AirBnB whilst in the Big Apple")
air_bnb[['neighbourhood_group','price']].groupby('neighbourhood_group').mean('price').round(1).sort_values('price', ascending=False)

ANSWER: No surprises here, 'Mo-money Manhattan' is the riztiest place to AirBnB whilst in the Big Apple

                     price
neighbourhood_group
Manhattan            196.9
Brooklyn             124.4
Staten Island        114.8
Queens                99.5
Bronx                 87.5

In [169]:
# Which neighbor hood group has the highest total price?
print("ANSWER: Brooklyn, Manhattan, and Queens all share the same highest total price of: $10,000ðŸ¤‘")
air_bnb[['neighbourhood_group','price']].groupby('neighbourhood_group').max()

ANSWER: Brooklyn, Manhattan, and Queens all share the same highest total price of: $10,000ðŸ¤‘

                     price
neighbourhood_group
Bronx                 2500
Brooklyn             10000
Manhattan            10000
Queens               10000
Staten Island         5000

In [203]:
#Which top 5 hosts have the highest total price?

print("ANSWER: The most popular host, 'Row NYC', has the most expencieve total price of 100")
air_bnb[['host_id','host_name','reviews_per_month','price']].sort_values('reviews_per_month', ascending=False).drop_duplicates('host_id').head(5).reset_index(drop=True)

ANSWER: The most popular host, 'Row NYC', has the most expencieve total price of 100

     host_id host_name  reviews_per_month  price
0  244361589   Row NYC              58.50    100
1  228415932    Louann              20.94     45
2  156684502   Nalicia              19.75     80
3   26432133  Danielle              16.22     48
4  217379941     Brent              15.78     75

In [216]:
# Who currently has no (zero) availability with a review count of 100 or more?
print("158* rentals with a review of 100+ currently have zero availability")
print("*(based on row number at bottom of table)")
air_bnb[air_bnb['number_of_reviews'] > 100].loc[air_bnb['availability_365'] == 0]

158* rentals with a review of 100+ currently have zero availability
*(based on row number at bottom of table)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artistsâ€™ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [230]:
# What host has the highest total of prices and where are they located?
print("""ANSWER: Not sure if this is what the question wanted, but below are the top 20 most expensive rentals in the city:

- Kathin of Astoria, 
- Erin of Greenpoint, and 
- Jelena from the Upper West Side 

all tie for the most expensive rental at $10,000.""")
air_bnb[['host_id','host_name','price', 'neighbourhood', 'neighbourhood_group']].sort_values('price', ascending=False).head(20).reset_index(drop=True)

ANSWER: Not sure if this is what the question wanted, but below are the top 20 most expensive rentals in the city:

- Kathin of Astoria,
- Erin of Greenpoint, and
- Jelena from the Upper West Side

all tie for the most expensive rental at $10,000.

      host_id    host_name  price      neighbourhood neighbourhood_group
0    20582832     Kathrine  10000            Astoria              Queens
1     5143901         Erin  10000         Greenpoint            Brooklyn
2    72390391       Jelena  10000    Upper West Side           Manhattan
3     4382127         Matt   9999    Lower East Side           Manhattan
4     3906464          Amy   9999    Lower East Side           Manhattan
5     1235070        Olson   9999        East Harlem           Manhattan
6    18128455          Rum   8500            Tribeca           Manhattan
7     1177497      Jessica   8000       Clinton Hill            Brooklyn
8   156158778        Sally   7703    Upper East Side           Manhattan
9     7407743         Jack   7500  Battery Park City           Manhattan
10  262534951       Sandra   7500      East Flatbush            Brooklyn
11    3750764        Kevin   6800            Chelsea           Manhattan
12   35303743     Patricia   6500    Upper West Side           Manhattan
13   11598359     Jonathan   6500       Clinton Hill            Brooklyn
14  271248669        Jenny   6500            Tribeca           Manhattan
15  156158778        Sally   6419    Upper East Side           Manhattan
16    2151325  Jay And Liz   6000    Upper West Side           Manhattan
17   66240032        Linda   6000  Greenwich Village           Manhattan
18    1483320         Omri   5250       Little Italy           Manhattan
19   16105313        Debra   5100            Midtown           Manhattan

In [256]:
# When did Danielle from Queens last receive a review?
print("ANSWER: which 'Danielle form Queens'?")
danielles = air_bnb[air_bnb['host_name'] == 'Danielle']
danielles_from_queens = danielles[air_bnb['neighbourhood_group'] == 'Queens']
danielles_from_queens[['host_id','host_name','neighbourhood_group', 'last_review']].drop_duplicates('host_id').reset_index(drop=True)

ANSWER: which 'Danielle form Queens'?

C:\Users\kstew\AppData\Local\Temp/ipykernel_4220/932100753.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  danielles_from_queens = danielles[air_bnb['neighbourhood_group'] == 'Queens']

     host_id host_name neighbourhood_group last_review
0   26432133  Danielle              Queens  2019-07-03
1   18051286  Danielle              Queens         NaN
2  154256662  Danielle              Queens  2018-01-02
3  201647469  Danielle              Queens  2019-06-20

## Further Questions

1. Which host has the most listings?

In [281]:
print("ANSWER: 'Sonder' is the host with the most (listings) in NYC with 327")

air_bnb['host_id'].value_counts()

air_bnb.loc[air_bnb['host_id'] == 219517861]['host_name']

ANSWER: 'Sonder' is the host with the most (listings) in NYC with 327

38293    Sonder (NYC)
38294    Sonder (NYC)
38588    Sonder (NYC)
39769    Sonder (NYC)
39770    Sonder (NYC)
             ...
47691    Sonder (NYC)
47692    Sonder (NYC)
47693    Sonder (NYC)
47814    Sonder (NYC)
47821    Sonder (NYC)
Name: host_name, Length: 327, dtype: object

2. How many listings have completely open availability?

In [295]:
print("ANSWER: 1295 listings are completely wide open. Book them before they're taken!")
air_bnb[air_bnb['availability_365'] == 365][['id','availability_365']]

ANSWER: 1295 listings are completely wide open. Book them before they're taken!

             id  availability_365
0          2539               365
2          3647               365
36        11452               365
38        11943               365
97        21644               365
...         ...               ...
48744  36415840               365
48844  36453952               365
48868  36473253               365
48880  36481315               365
48887  36483152               365

[1295 rows x 2 columns]

3. What room_types have the highest review numbers?

In [315]:
print("ANSWER: the 'Entire home/apt' categorie has the most total reviews as 25,409 - is this what you're looking for?")

air_bnb.groupby('room_type').count()['number_of_reviews']

ANSWER: the 'Entire home/apt' categorie has the most total reviews as 25,409 - is this what you're looking for?

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

KS Answer: My conclusions were written on a question-by-question basis, see the print-outs from the cells above. --